{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:incoming-services
                     [{:queue "election-http-api.ok"
                       :f election-http-api.handlers/ok
                       :response true
                       :threads 2
                       :prefetch-limit 2}]

                     :external-services
                     [{:queue "election-works.election.search"
                       :channel election-http-api.channels/election-upcoming-search
                       :response true
                       :timeout 60000}
                      {:queue "election-works.election.upcoming"
                       :channel election-http-api.channels/election-all-upcoming
                       :response true
                       :timeout 60000}
                      {:queue "electorate-works.electorate.search-create"
                       :channel election-http-api.channels/electorate-search-create
                       :response true
                       :timeout 60000}]}}
 :api-gateway-secret #resource-config/env "API_GATEWAY_SECRET"}

